.Card {
  color: #333;
  font-family: Avenir Next, Helvetica, Arial;
  background-size: cover;
  background-position: center;
  height: 447px;
  width: 372px;

}

.Info {
  display: none;
  background-color: #FFF;
  color: #333;
  height: 447px;
  width: 372px;
  position: absolute;
  border: solid 2px transparent;
}

.Trigger:hover .Info  {
  display: block;
  border: solid 2px #333;
}


.Info h1 {
  margin: 0px;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 2rem;
}

.Info p {
  margin: 0px;
  padding: 0 2rem 0 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.Info h5 {
  margin: 0px;
  font-size: 1.2rem;
  padding: 0 2rem 0 2rem;
}

.Info a {
  color: #333;
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: solid 1px transparent;
  transition: 0.5s ease-in-out;
}
