.Mid_View {
  grid-area: MID;
  background-color: #fff;
}

.Mid_Wrapper {
  padding: 0;
  margin: 15rem 12rem 15rem 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1440px) {
  .Mid_Wrapper {
    margin: 4rem 3rem 4rem 3rem;
  }
}

.Mid_Wrapper li {
  padding: 0.8rem;
}

.Mid_Wrapper h1 {
  font-family: Avenir Next, Helvetica, Arial;
  font-size: 4rem;
  letter-spacing:
}
