.Mid_View {
  grid-area: MID;
  background-color: #fff;
}

.Mid_Wrapper {
  padding: 0;
  margin: 15rem 12rem 15rem 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Mid_Wrapper li {
  padding: 0.8rem;
}
