
.nav-bar {
  color: #e2e6e8;
  font-family: Avenir Next, Helvetica, Arial;
  letter-spacing: .1rem;
}

.NAV-LEFT {
  padding: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.NAV-RIGHT {
  padding: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
}

.NAV-RIGHT li {
  padding-right: 1rem;
}

ul li {
  list-style: none;

}

a {
  text-decoration: none;
}

a:link {
  color: #FFF;
}
a:visited {
  color: #FFF;
}
