.Card {
  color: #333;
  font-family: Avenir Next, Helvetica, Arial;
  background-size: cover;
  background-position: center;
  height: 447px;
  width: 372px;
}


.Info {
  display: none;
  color: #333;
  height: 447px;
  width: 372px;
  position: absolute;
}

.Info.Active {
  display: block;
}

.Info h1 {
  margin: 0px;
  padding: 1rem 0 1rem 0;
  font-size: 5rem;
}

.Info p {
  margin: 0px;
  padding: 2rem 0 2rem 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.Info h5 {
  margin: 0px;
  font-size: 1.2rem;
}

.Info a {
  color: #333;
  border-bottom: solid 1px transparent;
  transition: 0.5s ease-in-out;
}



@media (max-width: 1440px) {
  .Mid_Wrapper {
    margin: 10rem 5rem 10rem 5rem;
  }
}
