
.nav-bar {
  background-color: #FFF;
  border-bottom: solid 2px #333;
  color: #e2e6e8;
  font-family: Avenir Next, Helvetica, Arial;
  font-size: 1rem;
  letter-spacing: .1rem;
  display: flex;
  justify-content: space-between;
  padding: .5rem 0 .5rem 0;
}

@media (min-width: 1440px) {
  .LEFTBAR {
    margin-top: 20rem;
  }
}

.NAV-RIGHT  {
  display: inherit;

}

.NAV-LEFT {
  display: inherit;
}

.NAV-RIGHT li {
  padding-right: 2rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  border-bottom: solid 0px transparent;
  width: 0px;
  transition: 0.5s ease-in;
}

a:link {
  color: #333;
}
a:visited {
  color: #222;
}

a:hover {
  border-bottom: solid 1px #333;
  width: 80px;
}
